body {
  margin: 0;
  padding: 0;
  background-color: rgb(191, 122, 233);
}

.bob {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: rgb(238, 205, 170);
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.eye-container {
  display: flex;
  position: relative;
  top: 45px;
  left: 60px;
}

.eye {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  margin: 3px;
}

.eye:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;

  position: relative;
  top: 15px;
  left: 25px;
  /* positioning is based on parent which is eye class */
}
